/* 1em=16px */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  *{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;

  }
  ::-webkit-scrollbar {
   width: 10px;
 }
  ::-webkit-scrollbar-thumb {
   background: #818120;
   border-radius: 10px;
 }
  header{
    background-color: aliceblue;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
    
  }
  #logo{
    text-decoration: none;
    color:#818120;
    text-transform: uppercase;
    font-weight: 700;
    font-size:7em;    
  }
  .navigation a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: 500;
    font: size 1.1em; 
    padding-left: 30px;
 }
 .navigation a:hover{
    color: rgb(225, 170, 5);
 }


 section{
    padding: 100px 200px ;
    text-align: right;
 }
 .main{
     width: 100%;
     height: 100%;
     min-height: 100vh;
     display:flex;
     justify-content: flex-end;
     align-items: center;
     background:url(images/IMG_20210526_220022_879.jpg) no-repeat ;
   background-size: cover;
   background-position:left top;
   background-attachment: fixed;
 }
 .main h2{ 
    color: rgb(7, 7, 7);
    font-size: 1.4em;
    font-weight: 500;
 }
 .main h2 span{
    display: inline-block;
    margin-top: 10px;
    color: rgb(74, 3, 3);
    font-size: 3em;
    font-weight: 600;
 }
 .main h3{ 
    color: rgb(9, 8, 8);
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;

 }
 .main-btn{
    color: rgb(7, 6, 6);
    background-color:rgb(129, 129, 32);
    font-size: 1.1em;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition:0.7s ease;
 }
 .main-btn:hover{
    background-color:yellow;
    transform: scale(1.1);
 }
 .social-icons a{
    color: black;
    font-size: 1.7em;
    padding-right: 10px;
    padding-left: 10px;
 }

.title{
    display: flex;
    justify-content: center;
    color:rgb(129, 129, 32);
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 50px;

}
.content{
    display:flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    background-color: white;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(128, 128, 128, 0.588);
    margin: 15px;
    padding: 25px;
    transition:0.7s ease;

}
.card:hover{
    transform: scale(1.1);

}
.icon{
    color: rgb(129, 129, 32);
    font-size:8em;
    text-align:center;
}
.info{
    text-align:center
}
.info h3{
    color: rgb(129, 129, 32);
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}
.Projects{
   background-color: rgb(0, 0, 0);
}
.Projects .content{
   margin-top: 30px;
}
.project-card{
   background-color: white;
   border: 5px solid white;
   min-height: 14em;
   width: 23em;
   overflow: hidden;
   transition:0.7s ease;
   margin: 50px;

}
.project-card:hover{
   transform: scale(1.1);
}
.project-image img{
   width: 100%;
   height: 100%;
}
.project-info{
text-align: left;
padding: 1em;
font-weight:bold;
}
.footer{
   background-color:black ;
   color: white;
   padding: 2em;
   display: flex;
   justify-content: space-between;
}
.footer a{
   color: white;
   font-size:1.3em ;
}